$background: white;
$secondary-background:#eaeaea;
$third-background: #f7f7f7;

$active-background: #f5edff;

$footer-background: #353535;

$main-font-clr: rgb(98, 98, 98);
$secondary-font-clr: rgb(87, 87, 87);

$primary-clr: #9356DC;
$secondary-clr: #FF79DA;
$third-clr: #99E2D0;


$btn-font: white;
$btn-gradient: linear-gradient(355deg, $primary-clr 0%, $secondary-clr 100%);

$icon-clr: #747474;