$background: white;
$secondary-background:rgb(240, 240, 240);
$main-font-clr: black;
$secondary-font-clr: rgb(87, 87, 87);
$primary-clr: #9356DC;
$secondary-clr: #FF79DA;
$third-clr: #99E2D0;
$btn-font: white;