.restaurants {
    &__container {
        &__card {
            &__description {
                &__containerHeart {
                    float: right;
                    translate: -10px -45px;
                    padding: 0;
                    margin: 0;
                    &__heart {
                        font-size: 28px;
                        overflow: hidden;
                    }

                    &__heart1 {
                        position: absolute;
                    }

                    &__heart2 {
                        position: relative;
                        color: transparent;
                    
                    }

                    &__heart2:hover {
                        background: linear-gradient(45deg, $secondary-clr 0%, $primary-clr 100%);
                    
                        background-clip: text;
                        animation: grow 0.2s 1;
                        overflow: hidden;
                    }
                    
                }

            }
        }
    }
}

@keyframes grow {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        ;
    }

}