* { margin: 0; padding: 0; }

html,body {
    overflow-x: hidden;
    max-width: 100%;
  }
// .body {
//     min-height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
a {
  text-decoration: none;
  color: black;
}

footer{
  color: $btn-font;
  a{
    color: $btn-font;
  }
}