// GLobal

.btnGlobal {
    font-size: map-get($font-size, btn);
}


* {
    font-family: Roboto;
}


// Header 

.header {
    &__localisation {

        &__description {
            color: $secondary-font-clr;
            font-weight: bold;
        }

        &__icon {
            color: $secondary-font-clr;

        }

    }

}

//Partie Réservation

.reservation {
    &__title {
        font-size: map-get($font-size, title);
        font-weight: 900;
    }

    &__description {
        font-size: map-get($font-size, description);
        font-weight: 300;
    }
}

.fonctionnement {
    &__container {
        &__box {
            &__boxFlex {
                &__number {

                    color: $btn-font;
                    font-size: map-get($font-size, number);
                }

                &__text {
                    font-weight: bold;
                }

                &__icon {
                    font-size: map-get($font-size, description);
                }
            }
        }
    }

    .restaurants {
        &__container {
            &__card {
                text-decoration: none;
                color: $footer-background;

                &__description {
                    &__titre {
                        font-weight: bold;
                    }
                }
            }
        }
    }


    .footer {
        &__blockLiens {
            &__footerTitle {
                font-family: 'Shrikhand';
                font-size: 20px;
                color: $background;
                font-size: map-get($font-size, footer);
            }
        }

        a {
            color: $btn-font;
            text-decoration: none;
            font-size: map-get($font-size, description);

        }
    }


    //pages menu

    .menu {
        &__container {
            &__title {
                &__textTitle {
                    font-family: Shrikhand;
                    font-size: map-get($font-size, title);

                }

            }
        }
    }
}