// GLobal

.btnGlobal {
    font-size: 16px;
}


* {
    font-family: Roboto;
}


// Header 

.header  { 
    &__localisation {

        &__description {
          color: $secondary-font-clr;
          font-weight: bold;
        } 
        &__icon {
            color: $secondary-font-clr;
        }
       
    }
    
}

//Partie Réservation

.reservation {
    &__title {
        font-size: 24px;
        font-weight: 900;
    }

    &__description {
        font-size: 18px;
        font-weight: 300;
    }
}

